.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 25px;
}
h3 {
  transition: 0.2s;
}

.city:hover > div > h3 {
  color: #869a90;
}
img {
  transition: 0.2s;
}
.city:hover > div > img {
  filter: contrast(60%);
}
