.active-link {
  border-bottom: solid 3px #869a90;
  color: #869a90;
}

.inpText {
  padding: 8px 16px;
  border-radius: 10px;
  margin-bottom: 25px;
  outline: none;
  width: 100%;
}
.inpText:focus {
  outline: 3px solid #869a908d;
}
